<h3>
  Edit <%= master_workflow.name %> - <%= master_operation.name %>
</h3>


<%= form_tag(master_operations_update_path(workflow_name: master_workflow.name, operation_name: master_operation.name)) do |f|%>
  <%= label_tag 'Operation_name'%>
  <%= text_field_tag 'updated_operation_name', master_operation.name%>

  <%= label_tag 'End point'%>
  <%= text_field_tag 'end_point', master_operation.end_point %>

  <%= submit_tag 'Submit'%>
<% end %>