<!DOCTYPE html>
<html>
<head>
  <title>Decider</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "decider/application", media: "all" %>
  <%= javascript_include_tag "decider/application" %>
</head>
<body>
<div class="flast_error" style="color: red">
  <% if flash[:errors]%>
    <%= flash[:errors]%>
  <% end %>

  <% if flash[:message]%>
    <%= flash[:message]%>
  <% end %>
</div>
<%= yield %>

</body>
</html>
